


	<div class="container-fluid ">
		<div class="row text-center">
			<h3 style="color:black;font-family: 'Quicksand', sans-serif;">Travel anywhere with BB8 <img id='bb8welcome' src=http://orig04.deviantart.net/04bb/f/2015/353/b/4/bb8_approves_by_iint-d9kp0qp.png> </h3>
		</div>
		<div class="row" id='first_pic'>
			<div class="cover-card col-sm-4" style="background: url(https://images.unsplash.com/reserve/XIj5DSfdQwGstDqHSSR2_cab.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300">
				<p>
					New York
				</p>
			</div>
			<div class="cover-card col-sm-4" style="background: url(https://images.unsplash.com/photo-1452832258356-035b4d90096e?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300">
				<p>
					Tokyo
				</p>
			</div>
			<div class="cover-card col-sm-4" style="background: url(https://images.unsplash.com/photo-1441814849630-e47ec6cced58?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=4343bab98e706f93517e0c7766860348">
				<p>
					Bangkok
				</p>
			</div>
		</div>
	</div>

		<br>
			<div class="row text-center">
				<h4 style="color:black;font-size:;font-family: 'Quicksand', sans-serif;">Meet Guidebooks </h4>
				<p style="font-size:30;">	Discover hundreds of local spots recommended by BB8nb hosts</p>
			</div>
		<br>

	<div class="container-fluid ">
		<div class="row" id='second_pic'>
			<div class="cover-card col-sm-4" style="background: url(https://images.unsplash.com/photo-1461664054097-e319867377a0?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300">
				<p>
					Dubai
				</p>
			</div>
			<div class="cover-card col-sm-4" style="background: url(https://images.unsplash.com/photo-1461072492560-82b4f2ff2799?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300">
				<p>
					Shanghai
				</p>
			</div>
			<div class="cover-card col-sm-4" style="background: url(https://images.unsplash.com/reserve/D8ijGd3CSGq4BxJ9EzTf_13976945916_fa0ce84ee3_o.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300">
				<p>
					San Francisco
				</p>
			</div>
		</div>
	</div>

<br>
<div class="row text-center">
	<h4 style="color:black;font-size:;font-family: 'Quicksand', sans-serif;">Just for the weekend</h4>
	<p style="font-size:30;">	Discover new, inspiring places close to home.</p>
</div>
<br>

	<div class="container-fluid ">
		<div class="row" id='third_pic'>
			<div class="cover-card col-sm-4" style="background: url(https://images.unsplash.com/photo-1444675647584-756b22f9edd7?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300">
				<p>
					Bali
				</p>
			</div>
			<div class="cover-card col-sm-4" style="background: url(https://images.unsplash.com/photo-1461838239441-4475121c0b7d?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300">
				<p>
					Belgium
				</p>
			</div>
			<div class="cover-card col-sm-4" style="background: url(https://images.unsplash.com/photo-1460904041914-f2b315f93560?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=3ea3351e90e5b6b43d339d59f47e93f9">
				<p>
					Paris
				</p>
			</div>
		</div>
	</div>

<br>
	<div class="row text-center">
		<h4 style="color:black;font-size:;font-family: 'Quicksand', sans-serif;">Explore the world</h4>
		<p style="font-size:30;">	See where people are traveling, all around the world.</p>
	</div>
<br>

	<div class="container-fluid ">
		<div class="row" id='third_pic'>
			<div class="cover-card col-sm-6" style="background: url(https://images.unsplash.com/photo-1454793147212-9e7e57e89a4f?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300">
				<p>
					London
				</p>
			</div>
			<div class="cover-card col-sm-6" style="background: url(https://images.unsplash.com/photo-1445978259239-a6c453c3513a?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300">
				<p>
					Sydney
				</p>
			</div>
		</div>
	</div>
